:root {
    --telecom-etudefrnero: rgba(255, 255, 255, 1);
    --telecom-etudefrshark: rgba(26, 27, 31, 1);
    --telecom-etudefrpersian-green: rgba(255, 181, 143, 1);
    --telecom-etudefrfroly: rgba(240, 128, 128, 1);
    --telecom-etudefrmandy: rgba(227, 78, 90, 1);
    --telecom-etudefrronchi-radial-anzac-black: rgba(231, 187, 75, 1);
    --telecom-etudefrwild-sand: rgba(245, 245, 245, 1);
    --telecom-etudefrdi-serria-radial-raw-sienna-black: rgba(220, 160, 86, 1);
    --telecom-etudefrburnt-sienna-radial-apricot-black: rgba(228, 133, 78, 1);
    --telecom-etudefrroman-radial-roman-black: rgba(217, 100, 89, 1);
    --telecom-etudefrroman-radial-persian-red-black: rgba(218, 88, 88, 1);
    --telecom-etudefrmaroon-flush: rgba(213, 31, 72, 1);
    --telecom-etudefrdeep-fir: rgba(255, 42, 0, 1);
    --telecom-etudefrcrusta: rgba(253, 131, 52, 1);
    --telecom-etudefrmine-shaft: rgba(34, 34, 34, 1);
    --telecom-etudefrmidnight-blue: rgba(1, 33, 105, 1);
    --telecom-etudefrcrimson: rgba(200, 16, 46, 1);
    --telecom-etudefrnero-02: rgba(255, 255, 255, 0);
    --telecom-etudefrthunderbird: rgba(213, 43, 30, 1);
    --telecom-etudefrresolution-blue: rgba(0, 48, 135, 1);
    --telecom-etudefrcardinal: rgba(203, 32, 38, 1);
    --telecom-etudefrmercury: rgba(228, 228, 228, 1);
    --telecom-etudefrboulder: rgba(117, 117, 117, 1);
    --subtitle-font-family: "Montserrat", Helvetica;
    --subtitle-font-weight: 500;
    --subtitle-font-size: 20px;
    --subtitle-letter-spacing: 1px;
    --subtitle-line-height: 20px;
    --subtitle-font-style: normal;
    --content-font-family: "Montserrat", Helvetica;
    --content-font-weight: 400;
    --content-font-size: 20px;
    --content-letter-spacing: 0px;
    --content-line-height: 28px;
    --content-font-style: normal;
    --title-font-family: "Montserrat", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 27.172414779663086px;
    --title-letter-spacing: 1.3586207628250122px;
    --title-line-height: 27.172414779663086px;
    --title-font-style: normal;
    --subsubtitle-font-family: "Montserrat", Helvetica;
    --subsubtitle-font-weight: 700;
    --subsubtitle-font-size: 23px;
    --subsubtitle-letter-spacing: 1px;
    --subsubtitle-line-height: 20px;
    --subsubtitle-font-style: normal;
    --small-font-family: "Montserrat", Helvetica;
    --small-font-weight: 400;
    --small-font-size: 12px;
    --small-letter-spacing: 0px;
    --small-line-height: 22.1200008392334px;
    --small-font-style: normal;
    --small-caps-font-family: "Montserrat", Helvetica;
    --small-caps-font-weight: 500;
    --small-caps-font-size: 8px;
    --small-caps-letter-spacing: 1px;
    --small-caps-line-height: 10px;
    --small-caps-font-style: normal;
    --small-medium-caps-font-family: "Montserrat", Helvetica;
    --small-medium-caps-font-weight: 700;
    --small-medium-caps-font-size: 10px;
    --small-medium-caps-letter-spacing: 0px;
    --small-medium-caps-line-height: 22.1200008392334px;
    --small-medium-caps-font-style: normal;
    --telecom-etude-fr-montserrat-bold-38-4-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-bold-38-4-font-weight: 700;
    --telecom-etude-fr-montserrat-bold-38-4-font-size: 38.400001525878906px;
    --telecom-etude-fr-montserrat-bold-38-4-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-bold-38-4-line-height: 57.599998474121094px;
    --telecom-etude-fr-montserrat-bold-38-4-font-style: normal;
    --telecom-etude-fr-montserrat-bold-32-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-bold-32-font-weight: 700;
    --telecom-etude-fr-montserrat-bold-32-font-size: 32px;
    --telecom-etude-fr-montserrat-bold-32-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-bold-32-line-height: 48px;
    --telecom-etude-fr-montserrat-bold-32-font-style: normal;
    --telecom-etude-fr-montserrat-regular-16-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-16-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-16-font-size: 16px;
    --telecom-etude-fr-montserrat-regular-16-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-16-line-height: 28px;
    --telecom-etude-fr-montserrat-regular-16-font-style: normal;
    --telecom-etude-fr-montserrat-regular-22-4-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-22-4-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-22-4-font-size: 22.399999618530273px;
    --telecom-etude-fr-montserrat-regular-22-4-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-22-4-line-height: 28px;
    --telecom-etude-fr-montserrat-regular-22-4-font-style: normal;
    --telecom-etude-fr-montserrat-regular-16-underline-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-16-underline-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-16-underline-font-size: 16px;
    --telecom-etude-fr-montserrat-regular-16-underline-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-16-underline-line-height: 28px;
    --telecom-etude-fr-montserrat-regular-16-underline-font-style: normal;
    --telecom-etude-fr-montserrat-regular-30-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-30-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-30-font-size: 30px;
    --telecom-etude-fr-montserrat-regular-30-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-30-line-height: 46px;
    --telecom-etude-fr-montserrat-regular-30-font-style: normal;
    --telecom-etude-fr-montserrat-regular-48-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-48-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-48-font-size: 48px;
    --telecom-etude-fr-montserrat-regular-48-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-48-line-height: 28px;
    --telecom-etude-fr-montserrat-regular-48-font-style: normal;
    --telecom-etude-fr-montserrat-light-26-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-light-26-font-weight: 300;
    --telecom-etude-fr-montserrat-light-26-font-size: 26px;
    --telecom-etude-fr-montserrat-light-26-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-light-26-line-height: 46px;
    --telecom-etude-fr-montserrat-light-26-font-style: normal;
    --telecom-etude-fr-montserrat-bold-12-upper-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-bold-12-upper-font-weight: 700;
    --telecom-etude-fr-montserrat-bold-12-upper-font-size: 12px;
    --telecom-etude-fr-montserrat-bold-12-upper-letter-spacing: 1px;
    --telecom-etude-fr-montserrat-bold-12-upper-line-height: 28px;
    --telecom-etude-fr-montserrat-bold-12-upper-font-style: normal;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-font-weight: 700;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-font-size: 12px;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-letter-spacing: 1px;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-line-height: 28px;
    --telecom-etude-fr-montserrat-bold-12-underline-upper-font-style: normal;
    --telecom-etude-fr-montserrat-regular-40-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-40-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-40-font-size: 40px;
    --telecom-etude-fr-montserrat-regular-40-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-40-line-height: 46px;
    --telecom-etude-fr-montserrat-regular-40-font-style: normal;
    --telecom-etude-fr-montserrat-bold-16-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-bold-16-font-weight: 700;
    --telecom-etude-fr-montserrat-bold-16-font-size: 16px;
    --telecom-etude-fr-montserrat-bold-16-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-bold-16-line-height: 28px;
    --telecom-etude-fr-montserrat-bold-16-font-style: normal;
    --telecom-etude-fr-montserrat-regular-12-underline-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-12-underline-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-12-underline-font-size: 12px;
    --telecom-etude-fr-montserrat-regular-12-underline-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-12-underline-line-height: 20px;
    --telecom-etude-fr-montserrat-regular-12-underline-font-style: normal;
    --telecom-etude-fr-montserrat-regular-12-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-12-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-12-font-size: 12px;
    --telecom-etude-fr-montserrat-regular-12-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-12-line-height: 20px;
    --telecom-etude-fr-montserrat-regular-12-font-style: normal;
    --telecom-etude-fr-montserrat-medium-12-upper-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-medium-12-upper-font-weight: 500;
    --telecom-etude-fr-montserrat-medium-12-upper-font-size: 12px;
    --telecom-etude-fr-montserrat-medium-12-upper-letter-spacing: 1px;
    --telecom-etude-fr-montserrat-medium-12-upper-line-height: 20px;
    --telecom-etude-fr-montserrat-medium-12-upper-font-style: normal;
    --telecom-etude-fr-montserrat-regular-26-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-26-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-26-font-size: 26px;
    --telecom-etude-fr-montserrat-regular-26-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-26-line-height: 46px;
    --telecom-etude-fr-montserrat-regular-26-font-style: normal;
    --telecom-etude-fr-montserrat-regular-14-font-family: "Montserrat", Helvetica;
    --telecom-etude-fr-montserrat-regular-14-font-weight: 400;
    --telecom-etude-fr-montserrat-regular-14-font-size: 14px;
    --telecom-etude-fr-montserrat-regular-14-letter-spacing: 0px;
    --telecom-etude-fr-montserrat-regular-14-line-height: normal;
    --telecom-etude-fr-montserrat-regular-14-font-style: normal;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-font-family: "Font Awesome 5 Brands", Helvetica;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-font-weight: 400;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-font-size: 16px;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-letter-spacing: 0px;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-line-height: 16px;
    --telecom-etude-fr-font-awesome-5-brands-regular-16-font-style: normal;
    --collection-1-menu-button-color: rgba(0, 0, 0, 1);
    --collection-1-green-pale: rgba(112, 172, 112, 1);
    --collection-1-intense-green: rgba(58, 163, 43, 1);
    --collection-1-dark-green: rgba(13, 62, 6, 1);
  }
