---
export const prerender = false;
import { sequence } from "astro:middleware";
import DonateCompany from "../components/Donate/DonateCompany.astro";
import DonateIndividual from "../components/Donate/DonateIndividual.astro";
import PaymentButton from "../components/Donate/PaymentButton.astro";
import Icon from "../components/Icon.astro";
import Subsubtitle from "../components/Subsubtitle.astro";
import Subtitle from "../components/Subtitle.astro";
import Title from "../components/Title.astro";
import DonationSectionLayout from "../layouts/DonationSectionLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { DONATION_ONCE_AMOUNTS, DONATION_MONTHLY_AMOUNTS, DONATION_MAX_DAY, DONATION_MIN_DAY, DONATION_MIN, DONATION_MAX } from "../web-data/constants";
import {pay} from "./api/payer";


import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../web-data/i18n/utils";
import { validateAmount, validateSocialReason, validateSiren, validateLegal, validateName, validateEmail, validateConfirmEmail, validateDate, validateAddress, validateCity, validateZip, validateCountry, validatePhone, validateNamesAreDifferent, validateMonthlyDaySelector } from "./api/donate";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tr = useTranslatedPath(lang);


---
<PageLayout title={t("page.donate")}>

    <Title title={t("donate.title")} height="50vh" img="/images/title/bg.jpg" />
    <div class="donation-container">

<iframe id="haWidget" allowtransparency="true" scrolling="no" src="https://www.helloasso.com/associations/telecom-etude-pro-bono/formulaires/1/widget" style="border: none;"></iframe>
    </div>
</PageLayout>

<script>

</script>

<style>
    .donation-container {
        width:75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1100px;
        gap: 40px;
    }

    #haWidget {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width:1450px) {
        .donation-container {
            height: 1200px;
        }

    }

    @media screen and (max-width:1250px) {
        .donation-container {
            height: 1250px;
        }

    }

    @media screen and (max-width:1200px) {
        .donation-container {
            height: 2100px;
        }

    }

    @media screen and (max-width:920px) {
        .donation-container {
            height: 2200px;
        }

    }

    @media screen and (max-width:768px) {
        .donation-container {
            height: 2200px;
        }

    }

    @media screen and (max-width:600px) {
        .donation-container {
            height: 2300px;
        }

    }

    @media screen and (max-width:500px) {
        .donation-container {
            height: 2400px;
        }

    }

    @media screen and (max-width:425px) {
        .donation-container {
            height: 2500px;
        }

    }

    @media screen and (max-width:375px) {
        .donation-container {
            height: 2700px;
        }

    }

    @media screen and (max-width:320px) {
        .donation-container {
            height: 2700px;
        }

    }

</style>
