---
import DonationLegal from "../components/DonationLegal.astro";
import Documents from "../components/Publications/Documents.astro";
import PublicationsList from "../components/Publications/PublicationsList.astro";
import Title from "../components/Title.astro";
import PageLayout from "../layouts/PageLayout.astro";

---

<PageLayout title="Publications">
        <div class="under-header">
        <Title title="Publications" height="35vw" />
</div>
        <DonationLegal />
        <PublicationsList />
        <Documents />
</PageLayout>
