---
import Carousel from "../components/Article/Carousel.astro";
import DonateButton from "../components/DonateButton.astro";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import "../css/global.css";
---


<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" />

		<meta name="generator" content={Astro.generator} />
		<title>Title</title>
	</head>
	<body>
		<Header/>
		<Footer/>
	</body>
</html>

