---
import PageLayout from "../layouts/PageLayout.astro";
import Title from "../components/Title.astro";
import Team from "../components/About/Team.astro";
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "../web-data/i18n/utils";
import TitleNoImg from "../components/TitleNoImg.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tr = useTranslatedPath(lang);
---

<PageLayout title={t("page.about")}>
	<div class="title">
		<TitleNoImg title={t("about.title")} />
		<p>{t("about.description")}</p>
	</div>

	<Team />
</PageLayout>

<style>
	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin-top: 50px;
	}


	.title p {
		text-align: center;
		max-width: 900px;
		font-size: 1.2em;
		line-height: 1.5;
		margin:20px;
	}


</style>
