---
import DonateIndividual from "./DonateIndividual.astro";
import {
    getLangFromUrl,
    useTranslatedPath,
    useTranslations,
} from "../../web-data/i18n/utils";


const lang = getLangFromUrl(Astro.url);
const tr = useTranslatedPath(lang);
const t = useTranslations(lang);

---

<div class="container">
    <div class="donate-field-container">
    <label for="social-reason" class="uppercase bold">{t('donate.form.social-reason')} *</label>
    <input class="company-input" type="text" id="social-reason" name="social-reason"/>
</div>
<div class="donate-field-container">
    <label for="siret" class="uppercase bold">{t('donate.form.siren')} *</label>
    <input class="company-input" type="number" id="siret" name="siren"/>
    </div>
    <div class="donate-field-container">
    <label for="legal-status" class="uppercase bold">{t('donate.form.legal-status')} *</label>
    <input list="legal-status" class="company-input"/>
    </div>

    <DonateIndividual/>


</div>

<datalist id="legal-status">
    <option value="SAS" />
    <option value="SARL" />
    <option value="SA" />
    <option value="SNC" />
    <option value="SDF" />
    <option value="SCOP" />
    <option value="SCIC" />
    <option value="SASU" />
    <option value="SARLU" />
    <option value="SAS" />
    <option value="SARL" />
    <option value="SA" />
    <option value="SNC" />
    <option value="SDF" />
    <option value="SCOP" />
    <option value="SCIC" />
    <option value="SASU" />
    <option value="SARLU" />
</datalist>

<style>
    .container{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    }
</style>
