---
import { getLangFromUrl, useTranslatedPath } from "../web-data/i18n/utils";

const { dynamic, big } = Astro.props;
interface DonateButtonProps {
    dynamic?: boolean;
    big?: boolean;
}

const lang = getLangFromUrl(Astro.url);
const tr = useTranslatedPath(lang);

const prefix = + big ? " big-donate-button" : "donate-button"
---

<a href={tr("/donate")}>
<div class={prefix}>

    <div class={prefix +"-bar"}></div>
    <div class={prefix +"-content"}>
        <div class={prefix +"-text"}>
            <p>Faire un don</p>
        </div>
        {
            dynamic ? (
                <object
                    type="image/svg+xml"
                    class="animated-tpb-logo"
                    data="/public/logos/animated-tpb-logo.svg"
                >
                    <img
                        src="/public/logos/animated-tpb-logo.svg"
                        alt="Logo animé de Telecom Etude Pro Bono"
                    />
                </object>
            ) : (
                <img
                    class="animated-tpb-logo"
                    src="/logos/animated-tpb-logo.svg"
                    alt="Logo animé de Telecom Etude Pro Bono"
                />
            )
        }
    </div>
    <div class={prefix +"-bar"}></div>
</div>
</a>

<style>
    .donate-button, .big-donate-button {
        overflow: hidden;
        display: flex;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 3px;
        /* padding: 0px; */
        opacity: var(--sds-size-stroke-border);
        background: var(--sds-color-background-default-default);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: white;
    }

    .big-donate-button{
        height:70px;
    }

    .donate-button:hover,.big-donate-button:hover > .donate-button-bar {
    background:#3AAC29;
}

.donate-button:active,.big-donate-button:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
   -moz-box-shadow:    inset 1px 1px 10px #333;
   box-shadow:         inset 1px 1px 10px #333;
}


    .donate-button-content,.big-donate-button-content {
        width: -webkit-fill-available;
        height: -webkit-fill-available;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;
        align-content: center;
        padding: 5px;
    }
    .donate-button-bar, .big-donate-button-bar {
        width: -webkit-fill-available;
        height: 4px;
        flex-shrink: 0;
        opacity: var(--sds-size-stroke-border);
        background: #0f8d42;
    }

    a {
        text-decoration: none;
    }

    .donate-button-text, .big-donate-button-text {
        display: flex;
        width: fit-content;
        height: -webkit-fill-available;

        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--Menu-button-color, #000);
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: var(--Menu-button-color, #000);
        text-align: center;
        text-shadow: 0px 2.4px 2.4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }

    .animated-tpb-logo {
        width: 30px;
        height: -webkit-fill-available;

        flex-shrink: 0;
        pointer-events: none;
    }

    @media screen and (max-width: 768px) {
        .big-donate-button {
            border-radius: 20px;
            width:230px;
            height:70px;
        }

        .big-donate-button-text {
            text
        }

        .big-donate-button-bar {
            display: none;
        }
    }

</style>
