---

---

<div class="donate-button">
    <a href="/donate">
        <div class="donate-button-bar"></div>
        <div class="donate-button-content">
            <div class="donate-button-text">
                <p>Faire un don</p>
            </div>

                <object
                    type="image/svg+xml"
                    class="animated-tpb-logo"
                    data="/public/logos/animated-tpb-logo.svg"
                >
                    <img
                        src="/public/logos/animated-tpb-logo.svg"
                        alt="Logo animé de Telecom Etude Pro Bono"
                    />
                </object>

        </div>

    </a>
    <div class="donate-button-bar"></div>
</div>

<style>
    .donate-button {
        overflow: hidden;
        display: flex;
        width: 345px;
        height: 79px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 3px;
        opacity: var(--sds-size-stroke-border);

        background: var(--sds-color-background-default-default);

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .donate-button-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    .donate-button-bar {
        width: 356px;
        height: 6px;
        flex-shrink: 0;
        opacity: var(--sds-size-stroke-border);

        background: #0f8d42;
    }

    a {
        text-decoration: none;
    }

    .donate-button-text {
        display: flex;
        width: 248px;
        height: 67px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;

        color: var(--Menu-button-color, #000);
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        /* Subtitle */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 100% */
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .animated-tpb-logo {
        width: 56.365px;
        height: 60.493px;
        flex-shrink: 0;
        opacity: var(--sds-size-stroke-border);
        pointer-events: none;
    }

    @media screen and (max-width: 768px) {
        .donate-button {
            display: flex;
            width: 345px;
            height: 79px;
            padding: 6px 19.635px 6px 33px;
            justify-content: flex-end;
            align-items: center;
            flex-shrink: 0;
            border-radius: 20px;
            opacity: var(--sds-size-stroke-border);

            background: var(--sds-color-background-default-default);

            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .donate-button-text {
            display: flex;
            width: 248px;
            height: 67px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            color: var(--Menu-button-color, #000);

            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            /* Subtitle */
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 100% */
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .donate-button-bar {
            display: none;
        }
    }
</style>
