---
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../web-data/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const tr = useTranslatedPath(lang);
const t = useTranslations(lang);
---
<a href={tr("/")}>
    <div class="logo-container">
        <img
            class="logo"
            src="/logos/tpb-logo-text.svg"
            alt={t('alt.logo-text')}
        />
    </div>
</a>
