---

---

<div class="donate-button">
    <div class="donate-button-bar"></div>
    <div class="donate-button-content">
        <div class="donate-button-text">
            <p>Faire un don</p>
        </div>

        <img
            class="animated-tpb-logo"
            src="/public/logos/animated-tpb-logo.svg"
            alt="Logo animé de Telecom Etude Pro Bono"
        />
    </div>
    <div class="donate-button-bar"></div>
</div>

<style>
    .donate-button {
        overflow: hidden;
        display: flex;
        width: max-content;
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 3px;
        /* padding: 0px; */
        opacity: var(--sds-size-stroke-border);
        background: var(--sds-color-background-default-default);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .donate-button-content {
        width: -webkit-fill-available;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 9px;
        align-content: center;
        padding: 5px;
    }
    .donate-button-bar {
        width: -webkit-fill-available;
        height: 4px;
        flex-shrink: 0;
        opacity: var(--sds-size-stroke-border);
        background: #0f8d42;
    }

    a {
        text-decoration: none;
    }

    .donate-button-text {
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--Menu-button-color, #000);
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: var(--Menu-button-color, #000);
        text-align: center;
        text-shadow: 0px 2.4px 2.4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }

    .animated-tpb-logo {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        opacity: var(--sds-size-stroke-border);
        pointer-events: none;
    }
</style>
