:root {
    --information-color:#3AA32B;
    --ongoing-color:#70AC70;
    --completed-color:#0D3E06;
    --dark-green:#276033;
    --bg-div: #efffeccf;;
    --title-green: #2B782C;
    --orange: #fd8334;
    --deg1: #ffb58f;
    --deg2: #ffb99d;
    --deg3: #f07b6b;
    --deg4: #e34e5a;
    --deg5: #dc3551;
    --deg6: #d92b4d;
    --red: #d51f48;
    --accent-gradient: linear-gradient(45deg, var(--orange), var(--red) 85%, rgb(255, 252, 251) 150%);
    --background-select: linear-gradient(to left, #34495e 3rem, #2c3e50 3rem);
}
html {
    font-family: Montserrat, sans-serif;
    color: #000000;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    line-height: 1.5;
    /* font-size: .875rem; */


}

img,
video {
  max-width: 100%;
  height: auto;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-size: 1.7rem; */
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-size: 1.5rem; */


}
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-size: 20px; */


}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-size: 16px; */

}

p {
    margin-bottom: 10px;
    /* font-size: 18px; */
}

a {
    display: block;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
    color: var(--title-green);
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
* {
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.separator {
    display: flex;
    height: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    opacity: var(--sds-size-stroke-border);
    width: -webkit-fill-available;

    background: var(--dark-green);
}

.short-separator {
    width: 100px;
    height: 3.5px;
}

.donate-field-container {
    display: flex;
flex-direction: column;
align-items: flex-start;
font-size: 1rem;
margin-bottom: 1rem;
gap:1rem;
font-weight: 600;
border-color: var(--information-color);
width: 100%;
}

.donate-field, .donate-field-container input {
    border: .0625rem solid;
    border-radius: .1875rem;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    color: var(--ha-color-text);
    font-size: 1rem;
    height: 100%;
    min-height: 2.625rem;
    padding: 0 1rem;
    /* -webkit-transition: border-color, color, -webkit-box-shadow; */
    /* transition: border-color, color, -webkit-box-shadow; */
    /* transition: border-color, box-shadow, color; */
    transition: border-color, box-shadow, color, -webkit-box-shadow;
    /* -webkit-transition-duration: .2s; */
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    width: 100%;
    border-color: #000000;

    outline-color: var(--ongoing-color);
}

.w-nav {
    width: 100%;
}

.function{
    text-align: center;
        color: var(--dark-green);
        font-weight: 500;
}

.under-header{
    padding-top: 80px;
}

.green-div{
    background-color: var(--bg-div);
}

 @media screen and (max-width: 1140px) {
    .under-header {
        padding-top: 131px;
    }

 }

 @media screen and (max-width: 810px) {
    .under-header {
        padding-top: 80px;
    }
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

p {
    text-align: justify;
}
