---
import { localizePathByLang, realPathByLang } from "../utils";
import IndexPicture from "../Img/IndexPicture.astro";
---

<div class="big-picture">
    <div class="big-picture-img">
        <IndexPicture />
    </div>
    <div class="big-picture-text-div-container">
        <span class="big-picture-text-container">
            <p class="big-picture-text">
                Image ou Carousel de photos avec texte justifiant les besoins ou
                autre
            </p>
        </span>
    </div>
</div>

<style>
    .big-picture-img {
        align-self: stretch;
        flex: 1;
        position: relative;
        background-color: #d9d9d9;
        z-index: 0;
    }
    .big-picture-text {
        margin: 0;
    }
    .ibig-picture-text-container {
        width: 100%;
    }
    .big-picture-text-div-container {
        width: 28.64%;
        position: absolute;
        margin: 0 !important;
        top: calc(50% - 68px);
        left: 35.68%;
        letter-spacing: 1px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 136px;
        flex-shrink: 0;
        z-index: 1;
    }
    .big-picture {
        width: 100%;
        position: relative;
        height: 876px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        font-size: 20px;
        color: #000;
        font-family: Montserrat;
    }
</style>
