---
import Subtitle from "../Subtitle.astro";
import CauseButton from "./BigButton.astro";
import {team} from "../../web-data/team/team.ts"
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../../web-data/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tr = useTranslatedPath(lang);
---

<div class="container">
    <div class="text-image">
        <div class="text-container">
            <Subtitle subtitle="President's Words" align="center" />
            <p class="president-words">
                {t('index.president.word.1')}
            </p>
            <p class="president-words">
               {t('index.president.word.2')}
            </p>
            <p class="president-id">
                {team.president.name}, <br /> {t("team."+team.president.role)} {t("index.president.function")}
            </p>
        </div>
        <div class="image-container"></div>
        <img class="image" src="/images/team.webp" />
    </div>
    <CauseButton link="/about" text="index.cause-button"/>
</div>

<style>
    .container {
        max-width: 80rem;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }

    .text-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 20px;
        padding-bottom: 30px;
        width: 50%;
        /* align-self: stretch; */
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .president-words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        width: 402px;
    }

    .president-id {
        display: flex;
        height: 70.242px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--dark-green);
        font-weight: 500;
    }

    .image-container {
        float: right;
        padding: 0px;
        width: 50%;
    }
    .image {
        display: block;
        margin: auto;
        object-fit:cover;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 810px) {
        .image {
            display: none;
        }
        .text-image {
            width:100%;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 400px) {
        .president-words {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

    }
</style>
