---
import DonateButton from "../components/DonateButton.astro";
import PageLayout from "./PageLayout.astro";

const {title} = Astro.props;
interface Props {
	title: string;
}
---

<PageLayout title={title}>
	<div id = "fixed-donate" class="fixed-donate">
		<DonateButton dynamic={true} big={true} />
	</div>
    <slot />
    <style>
        .fixed-donate {
            position: fixed;
            z-index: 2000;
            bottom: 40%;
            width: 270px;
            height: 70px;
            right:0px
        }

        @media screen and (max-width: 810px) {
            .fixed-donate {

                bottom: 100px;
            }

        }
    </style>

</PageLayout>



